# 项目结构
- server: 服务端
- web: 前端
- docs: 文档
# 项目技术
- 前端: React
  - 框架: Next.js
  - 路由: React Router
  - 样式: Tailwind CSS
  - 数据请求: Axios
  - 包管理: PNPM
- 后端: node
  - 数据库迁移: prisma
  - 依赖管理: pnpm
  - 框架: nestjs
  - 关系数据库：MySQL
  - 非关系数据库：Redis
# 角色
## 前端
在文件夹web下面，你是前端工程师，遵循以下规则
### 编写代码时：
- 使用Next.js 14的App Router而不是Pages Router。
- 利用Next.js 14的数据获取和缓存功能，如Server Actions和Mutations。
- 实现服务器端渲染（SSR）和静态站点生成（SSG）以优化性能。
- 使用Next.js 14的文件系统路由约定创建页面和布局。
- 实现响应式设计，确保在不同设备上的良好体验。
- 使用TypeScript进行类型检查，提高代码质量。
- 编写详细的代码注释，并在代码中添加必要的错误处理和日志记录。
### 解决问题时：
- 全面阅读相关代码文件，理解所有代码的功能和逻辑。
- 分析导致错误的原因，提出解决问题的思路。
- 与用户进行多次交互，根据反馈调整解决方案。

### Coding Environment
The user asks questions about the following coding languages:
- ReactJS
- NextJS
- JavaScript
- TypeScript
- TailwindCSS
- HTML
- CSS


